<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>6DKB</h1>
            <nav>
                {% if title=='Get Actor' %}
                <a href="{{ url_for('index') }}">Back</a>
                {% else %}
                <a href="{{ url_for('get_actor') }}">Play</a>
                {% endif %}
            </nav>
        </header>
        <section>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </section>
        
        <main>
            {% block content %}{% endblock %} 
        </main>
        <footer>
            <h5>Created by Blake Montgomery</h5>
        </footer>
    </div>
       
</body>
</html>